.container {
  margin-top: 80px;
}

.box1 {
  background-color: blue;
}

.box2 {
  background-color: lightgreen;
}

.box3 {
  background-color: yellow;
}

.box4 {
  background-color: coral;
}

.filtros-column {
  background-color: antiquewhite;
  padding: 16px;
}

.fotos {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

mat-card-title p {
  font-size: 72px;
  font-weight: bolder;
  margin-top: 8px;
}
