
<div
  class="container"
  [formGroup]="controles"
  fxLayout="row">

  <!-- Titulos -->
  <div
    fxLayoutAlign="start"
    fxFlex="20%">
    <mat-card-title
      fxLayout="column">
      <p fxFlexAlign="center">Pumas</p>
      <p fxFlexAlign="center">vs</p>
      <p fxFlexAlign="center">Francia</p>
    </mat-card-title>
  </div>

  <!-- Filtros -->
  <div
    class="filtros-column"
    fxFlex="15%"
    fxLayout="column"
    fxLayoutGap="24px">

    <h2>Filtros:</h2>

    <!-- Control 1 -->
    <mat-form-field
      appearance="fill">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder="ingrese su nombre"
        formControlName="control1">
      <mat-error>Este campo es obligatorio</mat-error>
    </mat-form-field>

    <!-- Control 2 -->
    <mat-form-field
      appearance="fill">
      <mat-label>Apellido</mat-label>
      <input
        matInput
        placeholder="ingrese su apellido"
        formControlName="control2">
      <mat-error>Este campo es obligatorio</mat-error>
    </mat-form-field>

    <button
      fxLayout="row"
      fxFlexAlign="end"
      color="accent"
      mat-raised-button
      (click)="switchearImagenes()">
      Switch Imagenes&nbsp;&nbsp;
      <mat-icon *ngIf="switchImages" svgIcon="on"></mat-icon>
      <mat-icon *ngIf="!switchImages" svgIcon="off"></mat-icon>
    </button>

  </div>

  <!-- Spacer -->
  <div fxFlex="5%"></div>

  <!-- Grilla -->
  <div
    fxFlex="50%">

    <!-- Foto 1 -->
    <ng-container
      #foto1
      class="fotos"
      *ngIf="switchImages">
      <img src="/assets/images/pumas2019a.jpg" width="740" class="fotos" />
    </ng-container>

    <!-- Foto 2 -->
    <ng-container
      #foto2
      *ngIf="!switchImages">
      <img src="/assets/images/pumas2019b.jpg" width="740" class="fotos" />
    </ng-container>
  </div>

  <!-- Spacer -->
  <div fxFlex="10%"></div>

</div>
